# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Unit test / coverage reports
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Serverless framework
.serverless/

# Node modules
node_modules/